@import "../sass/custom";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.font-weight-600 {
  font-weight: 600;
}

.parent {
  position: relative;
}

.shape-right {
  position: absolute;
  background-color: $primary;
  width: 80%;
  height: 80%;
  right: -80px;
  bottom: -25px;
  border-radius: 150px 0 0 150px;
  z-index: -1;
}

.shape-left {
  position: absolute;
  background-color: $primary;
  width: 80%;
  height: 100%;
  left: -100px;
  bottom: -50px;
  border-radius: 0px 150px 150px 0px;
  z-index: -1;
}
