@import "../sass/custom";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.font-weight-600 {
  font-weight: 600;
}

.parent {
  position: relative;
}

.shape-right {
  position: absolute;
  background-color: $primary;
  width: 75%;
  height: 75%;
  right: -30px;
  bottom: -10px;
  border-radius: 100px 0 0 100px;
  z-index: -1;
}
