@import "../sass/custom";

.nav-tabs {
  .nav-link.active {
    color: #495057;
    border: none;
    border-bottom: 4px solid $secondary;
  }
  .nav-link {
    color: lighten(#495057, 30);
    border: none;

    &:hover {
      color: $secondary;
    }
  }
}

.custom-card {
  border-radius: 20px;
  .browser-thumbnail {
    width: 100px;
    height: 100px;
    text-align: center;
  }

  .bg-dots {
    width: 100%;
  }

  .btn {
    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}
