@import "../sass/custom";

.navbar-light {
  .navbar-nav {
    .nav-link {
      &:hover {
        color: $secondary;
      }
    }
  }
}

.nav-tabs {
  .nav-link.active {
    color: #495057;
    border: none;
    border-bottom: 4px solid $secondary;
  }
  .nav-link {
    color: lighten(#495057, 30);
    border: none;

    &:hover {
      color: $secondary;
    }
  }
}

.cta-buttons {
  .btn-grey {
    color: #495057;
    &:hover {
      border: 1px solid #949da5;
    }
  }
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: #495057;
}

.accordion-item {
  border: none;
  border-top: 1px solid #949da5;
  border-bottom: 1px solid #949da5;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  &:hover {
    background-color: transparent;
    color: $primary;
  }
}
.btn-secondary {
  color: white;
  &:hover {
    background-color: transparent;
    color: $secondary;
  }
}

.accordion-button {
  &:hover {
    color: $secondary;
  }
}

.accordion-button::after {
  color: red;
  background-image: url("../images/icon-arrow.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/icon-arrow-collapsed.svg");
}
